.introduction {
    position: relative;
    background-color: rgba(0, 0, 0);
    padding-bottom: 40px;
}

.custom-shape-divider-top-1627984352 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1627984352 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 84px;
}

.custom-shape-divider-top-1627984352 .shape-fill {
    fill: #778489;
}


.custom-shape-divider-top-1627984352 {
    background-color: rgba(0, 0, 0);
}


.Who {
    width: 50%;
    height: 380px;
    color: white;
    padding-top: 80px;
    padding-left: 40px;
}

.intro-img img{
    width: 400px;
    height: 400px;
    margin-left: 50px;
    border-radius: 5px;
    margin-top: 84px;
}

.intro {
    display: flex;
    background-color: rgba(0, 0, 0);
}



@media only screen and (min-width: 768px) and (max-width: 997px){ 
    .introduction h1 {
        font-size: 20px;
    }
    .introduction p {
        font-size: 16px;
    }
    .intro-img img {
        width: 38vw;
        height: 45vw;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px){
    .introduction h1 {
        font-size: 16px;
    }
    .introduction h2 {
        text-align: left;
    }
    .introduction p {
        font-size: 12px;
    }
    .intro-img img {
        width: 38vw;
        height: 45vw;
    }
    .intro-img img {
        width: 70vw;
        height: 65vw;
        margin-left: 5vw;
        margin-top: 84px;
    }
    .intro {
        display: flex;
        background-color: rgba(0, 0, 0);
        flex-direction: column-reverse;
        align-items: center;
    }
    .Who {
        width: 60%;
        height: 380px;
        color: white;
        text-align: left;
        padding-top: 80px;
    }
}
@media only screen and (max-width: 425px) {
    .introduction h1 {
        font-size: 13px;
    }
    .introduction h2 {
        text-align: left;
        font-size: 20px;
    }
    .introduction p {
        font-size: 11px;
    }
    .intro-img img {
        width: 38vw;
        height: 45vw;
    }
    .intro-img img {
        width: 70vw;
        height: 65vw;
        margin-left: 5vw;
        margin-top: 84px;
    }
    .intro {
        display: flex;
        background-color: rgba(0, 0, 0);
        flex-direction: column-reverse;
        align-items: center;
    }
    .Who {
        width: 60%;
        height: 380px;
        color: white;
        text-align: left;
        padding-top: 80px;
    }
}