.comment-section {
    height: auto;
    padding-bottom: 20px;
}

.comment {
    border-radius:5px ;
    padding: 35px;
    margin-bottom: 50px;
    margin: 35px;
    background-color: #4d6066 ;
    display: flex;
    color: rgb(241, 237, 237);
    box-shadow: 0rem 0 1.4rem #000;
}

.comment-description p {
    margin-right: 28px;
}


.comment-name img {
    width: 500px;
    height: 350px;
    border-radius: 6px;
    transform: rotate(-2.5deg);
    transition: 0.5s;
    cursor: pointer;
}

.comment-name2 img{
    transform: rotate(2.5deg);
}

.comment-name img:hover {
    transform: rotate(0) scaleY(1.02);
}

.comment-name {
    background-color: #76858acb;
    border-radius: 5px;
}

.comment-description {
    margin-left: 25px;
    
}


.comment button {
   padding: 8px;
   font-weight: 600;
   font-size: 12px;
   cursor: pointer;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .comment-name img {
        width: 35vw;
        height: 35vw;
    }
    .comment-name {
        width: 35vw;
        height: 35vw;
    }
    .comment-description h1 {
        font-size: 20px;
    }
    .comment-description p {
        font-size: 11px;
    }
    .comment button {
        font-size: 10px;
    }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
    .comment-name img {
        width: 65vw;
        height: 35vw;
        transform: initial;
    }
    .comment-name {
        width: auto;
        text-align: center;
        height: auto;
        background-color: inherit;
    }
    .comment-description h1 {
        font-size: 20px;
        margin-top: 15px;
    }
    .comment-description p {
        font-size: 10px;
        text-overflow: ellipsis;
    }
    .comment{
        flex-direction: column;
        padding: 20px;
    }
    .comment-2{
        flex-direction: column-reverse;
    }
    .comment button {
        font-size: 10px;
    }
    .comment-description {
        margin-left: 25px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 425px) {
    .comment-name img {
        width: 65vw;
        height: 35vw;
        transform: initial;
    }
    .comment-name {
        width: auto;
        text-align: center;
        height: auto;
        background-color: inherit;
    }
    .comment-description h1 {
        font-size: 15px;
        margin-top: 15px;
    }
    .comment-description p {
        font-size: 9px;
        text-overflow: ellipsis;
    }
    .comment{
        flex-direction: column;
        padding: 15px;
    }
    .comment-2{
        flex-direction: column-reverse;
    }
    .comment button {
        font-size: 10px;
    }
    .comment-description {
        margin-left: 25px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}