.about-section {
    background-image: linear-gradient(rgba(10, 0, 0, 0.15), rgba(19, 0, 2, 0.55)), url("https://images.adsttc.com/media/images/5a19/68e2/b22e/38e1/fa00/0046/slideshow/1-rendering.jpg?1511614685");
    width: 100%;
    height: 550px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.about-title {
    position: absolute;
    left: 250px;
    top: 100px;
    font-size: 55px;
    color: rgba(235, 227, 227, 0.75);
    filter: blur(0.5px);
    border-radius: 20%;
    
}

.about-description {
    display: flex;
    font-size: 80px;
    position: absolute;
    left: 220px;
    top: 200px;
    color: rgba(235, 227, 227, 0.75);
}


.about-item {
    margin-right:65px ;
    text-align:center ;
}

.about-text-2 {
    font-size: 15px;
    margin-top: 5px;
    
}

.about-text {
    font-size: 20px;
    white-space: nowrap;
    margin-bottom: 2px;
}

/* .about {
    
} */

@media only screen and (min-width: 997px) and (max-width: 1300px) {
    .about-item {
        margin-right: 20px;
        font-size: 4vw;
    }
    .about-title {
        left: 180px;
    }
    .about-description {
        left: 180px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 997px) {
    .about-item {
        margin-right: 20px;
        font-size: 4vw;
    }
    .about-title {
        left: 120px;
    }
    .about-description {
        left: 120px;
    }
    .about-text {
        font-size: 13px;
    }
    .about-text-2 {
        font-size: 10px;
    }
    .about-section {
        height: 420px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    .about-item {
        margin-right: 20px;
        font-size: 4vw;
    }
    .about-title {
        left: 5vw;
    }
    .about-description {
        left: 5vw;
    }
    .about-text {
        font-size: 8px;
    }
    .about-text-2 {
        font-size: 9px;
    }
    .about-section {
        height: 420px;
    }
    .about-title {
        font-size: 40px;
    }
    .about-item i {
        font-size: 20px;
    }
}

@media only screen and (max-width: 425px) {
    .about-description {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 35vw;
    }
    .about-item {
        margin-right: 20px;
        font-size: 4vw;
    }
    .about-title {
        left: 33vw;
    }
    
    .about-text {
        font-size: 10px;
    }
    .about-text-2 {
        font-size: 9px;
    }
    .about-section {
        height: 600px;
        background-size: 120% 101%;
    }
    .about-title {
        font-size: 35px;
    }
    .about-item i {
        font-size: 32px;
    }
}