::-webkit-scrollbar {
  width: 0;
} 
 
/* Track */
::-webkit-scrollbar-track {
  background: rgb(126, 112, 112); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

*, ::after, ::before {
  box-sizing: initial !important;
}

.card {
  border: none !important;
}

* {
  scroll-behavior: smooth;
}

.App {
  background-color: #778489;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: white !important;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover {
  color: rgba(48, 46, 46, 0.699) !important;
  text-decoration: none;
}