::-webkit-scrollbar {
  width: 8px;
} 
 
/* Track */
::-webkit-scrollbar-track {
  background: rgb(107, 95, 95); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 133, 133); 
}

*, ::after, ::before {
  box-sizing: initial !important;
}

.card {
  border: none !important;
}

* {
  scroll-behavior: smooth;
}

.App {
  background-color: #778489;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: white !important;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover {
  color: rgba(48, 46, 46, 0.699) !important;
  text-decoration: none;
}





/* loading */


.loading {
  position: relative;
  width: 100vw;
  height: 100vh;

}

.lds-ellipsis {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}