

.meet img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 1;
}
.meet img:nth-child(2) {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 2;
}
.meet img:nth-child(3) {
    position: absolute;
    top: 200px;
    left: 360px;
    z-index: 3;
}


.meet img {
    width: 400px;
    height: 300px;
    border-radius: 5px; 
    transition: 1s; 
    box-shadow: 0rem 0 1.4rem #000;
}

.meet img:nth-child(1):hover {
    transform: rotate(2.5deg);
}

.meet img:nth-child(3):hover {
    transform: rotate(2.5deg);
}

.meet img:nth-child(2):hover {
    transform: rotate(-2.5deg);
}

.meet {
    padding:45px ;
    display: flex;
}

.meet-imgs {
    position: relative;
    height: 540px;
    width: 65%;
}


.meet-description {
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(66, 65, 65);
}

.meet-description button {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgb(66, 65, 65);
    color: white;
}

.meet-description button i {
    margin-left: 10px;
    font-weight: 100;
}

@media only screen and (min-width: 998px) and (max-width: 1300px) {
    .meet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .meet img:nth-child(1) {
        left: 120px;
    }
    .meet-description {
        width: 60vw;
    }
    .meet-imgs {
        width: 70%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 997px){
    .meet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: block;
    }
    .meet img {
        width: 45vw;
        height: 35vw;
    }
    .meet img:nth-child(1) {
        left: 120px;
    }
    .meet img:nth-child(3) {
        left: 300px;
    }
    .meet-description {
        width: 60vw;
    }
    .meet-imgs {
        width: 70%;
    }
}


@media only screen and (min-width: 425px) and (max-width: 767px) {
    .meet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: block;
        padding-top: 0;
    }
    .meet img {
        width: 45vw;
        height: 35vw;
    }
    .meet img:nth-child(1) {
        left: 23vw;
        top: 30px;
    }
    .meet img:nth-child(3) {
        left: 35vw;
        top: 180px;
    }
    .meet-description {
        width: 60vw;
    }
    .meet-imgs {
        width: 70%;
        height: 80vw;
    }
    .meet p {
        font-size: 13px;
    }
    .meet-description button {
        font-size: 12px;
    }
}
@media only screen and (max-width: 425px) {
    .meet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: block;
        padding-top: 0;
    }
    .meet img {
        width: 45vw;
        height: 35vw;
    }
    .meet img:nth-child(1) {
        left: 23vw;
        top: 0;
    }
    .meet img:nth-child(3) {
        left: 35vw;
        top: 80px;
    }
    .meet img:nth-child(2) {
        top: 50px;
    }
    .meet-description {
        width: 60vw;
        margin-top: 0;
    }
    .meet-imgs {
        width: 70%;
        height: 70vw;
    }
    .meet p {
        font-size: 13px;
    }
    .meet h1 {
        font-size: 20px;
    }
    .meet-description button {
        font-size: 12px;
    }
}